h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.search-option {
    background: #ffffff;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 0.5em;
}

.search-option h2 {
    margin-top: 0;
}

input[type="text"],
input[type="file"] {
    font-size: 1em;
    padding: 10px;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.search-option button {
    font-size: 1.1em;
    padding: 12px 16px;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    background-color: #0078d7;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.search-option button:hover {
    background-color: #005fa3;
}

#search-result {
  margin-top: 20px;
}

#search-result ul {
  list-style-type: disc;
  padding-left: 20px;
}

#search-result li {
  margin-bottom: 10px;
  font-size: 1rem;
}

#search-result a {
  color: #007acc;
  text-decoration: none;
}

#search-result a:hover {
  text-decoration: underline;
}

#item-list li {
  margin: 5px 0;
  font-size: 1rem;
}
#item-list li a {
  color: #0073aa;
  text-decoration: none;
}
#item-list li a:hover {
  text-decoration: underline;
}
